<!doctype html>
<html lang="en" ng-app="photoAlbumApp">
<head>
	<meta charset="utf-8">
	<title>My Photo Albums</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
	<style>
		.spacer {
			margin-top: 2em;
			margin-bottom: 2em;
		}

		.showMouseHover:hover  {
			cursor: pointer;
		}
	</style>
	<script src="bower_components/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
</head>
<body ng-controller="PhotoAlbumList">

	<div class="container-fuild">
		<div class="row spacer">
			<div class="col-md-2">
				Search: <input type="text" ng-model="query">
				Year: 
				<select ng-model="cboYear">
					<option value="">All</option>
					<option value="2009">2009</option>
					<option value="2012">2012</option>
					<option value="2013">2013</option>
				</select>
			</div>

			<div class="col-md-10">
				<ul>
					<li ng-repeat="album in photoAlbums | filter: query | filter: {year:cboYear} | orderBy: '-year' | MyUppercase">
						<h3>{{album.name}}</h3>
						<p>{{album.year}} - {{album.desc}}</p>
					</li>
				</ul>
			</div>
		</div>

		<div class="row spacer">
			<div class="col-md-6 col-md-offset-2">{{class1}}
				<table class="table table-striped">
					<tr>
						<th ng-click="reverse = defaultOrder == 'name' && !reverse; defaultOrder = 'name'; showArrow();" class="col-md-4 showMouseHover">
							Name <span ng-class="nameArrowClass"></span>
						</th>
						<th class="col-md-6">Description</th>
						<th ng-click="reverse = defaultOrder == 'year' && !reverse; defaultOrder = 'year'; showArrow();" class="col-md-2 showMouseHover">
							Year <span ng-class="yearArrowClass"></span>
						</th>
					</tr>
					<tr ng-repeat="album in photoAlbums | orderBy: defaultOrder : reverse">
						<td>{{album.name}}</td>
						<td>{{album.desc}}</td>
						<td>{{album.year}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</body>
</html>
